<h1>詳細画面</h1>
<a href="/boards">
  <%= link_to 'Edit', edit_board_path(@board), class: 'ui right floated button' %>
  <%= link_to 'List', boards_path, class: 'ui right floated button' %>
</a>
<br><br>

<%= render partial: 'board', object: @board %>