<h1>Doctor's Info</h1>

<table class="ui selectable striped table">
  <thead>
    <tr>
      <th>あああ</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>いいい</td>
    <tr>
  </tbody>
</table>

